.page-container {
    padding: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
}

.page-header h1 {
    font-family: var(--font-serif);
    font-size: 2.2rem;
    color: var(--tdp-black);
}

.btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    /* Màu xanh dương */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
}